<div ng-click="AddColumnBackFeeds($event)" class="addcolumn-block-feed-back">
                                        <i class="icon icon-left"></i>
                                    </div>
                                    <div class="addcolumn-block-feed">
                                        <h3 class="addcolumn-block-feed-letter">{{letter}}</h3>
                                        <div ng-repeat="ac in addcolumns" data-color="{{ac[0].data.color}}" class="addcolumn-block-pallet mini">
                                            <div class="addcolumn-block-pallet-header">
                                                <img class="addcolumn-block-pallet-favicon pull-left " src="{{ac[0].data.favicon}}">
                                                <h2 class="addcolumn-block-pallet-title" >{{ac[0].data.short_url}}</h2>
                                                <h4 ng-click="AShowRssFeeds($event)" class="addcolumn-block-pallet-show">
                                                    <span style="color: {{ac[0].data.color}}">SHOW RSS FEEDS</span>
                                                    <i style="border-color: {{ac[0].data.color}} transparent transparent transparent;"></i>
                                                </h4>
                                            </div>
                                            <div class="addcolumn-block-pallet-content">
                                                <ul class="addcolumn-block-pallet-list">
                                                    <li ng-repeat="a in ac" data-id="{{a.data.id}}" class="addcolumn-block-pallet-item">
                                                        <span style="background:'+one.color+';" class="media-list-body-dots"></span>
                                                        <div class="media-list">
                                                            <div class="media-list-body">
                                                                <h4 class="media-list-heading">{{a.data.name}}</h4>
                                                                <h4 class="media-list-heading-small">{{a.data.rss}}</h4>
                                                            </div>
                                                            <div  class="media-list-right">
                                                                <div ng-click="addColumnFromList(a.data.id)" class="mini-column-add"  style="color: '+one.color+';border-color: '+one.color+';">ADD</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div ng-if="!addcolumnsres" class="addcolumn-block-feed-none">
                                        	<h2>Your search returned no results</h2>
                                        </div>

                                        <div class="addcolumn-add">
                                            <h2 ng-if="addcolumnsres">If you can not find, you can add</h2>
                                            <div class="addcolumn-add-block">
                                                <div class="addcolumn-add-col">
                                                    <h4>ADD SITE</h4>
                                                </div>    
                                                <div class="addcolumn-add-col">
                                                <input type="text" placeholder="ENTER URL SITE" class="input input-add-column">
                                                </div>
                                                <div class="addcolumn-add-col">
                                                    <div class="help-add-column"><i class="icon icon-help"></i></div>
                                                    <button type="submit" class="btn btn-add-column">SUBMIT</button>
                                                </div> 
                                            </div>
                                        </div>

                                    </div>