<div class="admin-container" >
   
   <div class="admin-menu-block">
   		<ul class="admin-menu">
   			<li ng-click="switchMenu($event)" data-type="users" ng-class="{'active' : menu == 'users'}" class="admin-menu-item">
   				<p><i class="icon icon-user"></i><p>
   				<p>Пользователи<p>
   			</li>
   			<li ng-click="switchMenu($event)" data-type="sites" ng-class="{'active' : menu == 'sites'}" class="admin-menu-item">
   				<p><i class="icon icon-website"></i><p>
   				<p>Сайты<p>
   			</li>
   			<li ng-click="switchMenu($event)" data-type="trends" ng-class="{'active' : menu == 'trends'}" class="admin-menu-item">
   				<p><i class="icon icon-signal-4"></i><p>
   				<p>Тренды<p>
   			</li>
   			<li ng-click="switchMenu($event)" data-type="top" ng-class="{'active' : menu == 'top'}" class="admin-menu-item">
   				<p><i class="icon icon-fire-2"></i><p>
   				<p>Топ<p>
   			</li>
   			<li ng-click="switchMenu($event)" data-type="walls" ng-class="{'active' : menu == 'walls'}" class="admin-menu-item">
   				<p><i class="icon icon-th-large"></i><p>
   				<p>Стены<p>
   			</li>
   			<!--<li ng-click="switchMenu($event)" data-type="category" ng-class="{'active' : menu == 'category'}" class="admin-menu-item">
   				<p><i class="icon icon-th-list"></i><p>
   				<p>Категории<p>
   			</li>-->
   			<li ng-click="switchMenu($event)" data-type="welcome" ng-class="{'active' : menu == 'welcome'}" class="admin-menu-item">
   				<p><i class="icon icon-monitor"></i><p>
   				<p>Welcome<p>
   			</li>
   		</ul>
   </div>


   <div class="content-container">
        <div ng-if="menu == 'users'" class="users-content">
        	<h2>Список пользователей</h2>
        	<div class="users-table">
      			<div id="usersgrid" ui-grid="users" ui-grid-pagination class="usersgrid"></div>
      			<button type="button" id="addData" class="btn btn-success" ng-click="addData()">Add Data</button>
      		</div>
    	</div>
    	<div ng-if="menu == 'sites'" class="sites-content">
        	<h2>Список сайтов</h2>
        	<div class="sites-table">
            <button type="button" id="addData" class="btn btn-success" ng-click="addDataSite()">Добавить</button>
        		<div id="sitesgrid" ui-grid="sites" ui-grid-edit ui-grid-cellnav ui-grid-pagination class="sitesgrid"></div>
      		</div>
    	</div>
   </div>
</div>