<!-- LEFT MENU START -->
<div class="block-left-menu">
                <!--<div class="block-logo">
                    <a href="/feed">
                        <img class="logo-img" src="http://contter.dev/images/logo-home.png">
                    </a>
                </div>-->
                <div class="block-menu">

                	<ul class="block-menu-list-header">
                        <li ng-click="addTopCateg(1)" class="menu-item-adm-header menu-item-adm-add-categ" >
                            <p><i class="icon icon-list-add"></i></p>
                            <p>Добавить категорию</p>
                        </li>
                        <li ng-if="cat != 'RECOMMENDED'" ng-click="addTopCateg(2)" class="menu-item-adm-header menu-item-adm-add-column" >
                            <p><i class="icon icon-columns"></i></p>
                            <p>Добавить колонку</p>
                        </li>
                    </ul>

                   


                    <menuwalls  add-column=addColumn() walls=walls switch-wall=switchWall(el) add-group=addGroup()></menuwalls>

                    <ul  class="block-menu-list-footer">
                        <li switch-footer-menu data-url="trends" class="menu-item-footer menu-trends" ></li>
                        <li switch-footer-menu data-url="walls" class="menu-item-footer menu-collections" ></li>
                        <li ng-click="ShowProfile($event)" class="menu-item-footer  menu-profile" ></li>
                    </ul>

                </div>

</div>
<!-- END LEFT MENU -->



<!-- CONTENT START -->
<div class="block-content">
    <div class="block-container-columns l-scroll">
        <div class="block-horizontal-columns">
        	<ng-include src="'/views/feed/column-top.html?4trfffgfffvggfhdsdfdgdfdаkrrfdsdffbdb'" ></ng-include>
        </div>	
    </div>   	
</div>
<!-- END CONTENT -->
