<!-- LEFT MENU START -->
<div class="block-left-menu">
                <!--<div class="block-logo">
                    <a href="/feed">
                        <img class="logo-img" src="http://contter.dev/images/logo-home.png">
                    </a>
                </div>-->
                <div class="block-menu">

                    <div class="add-wall-menu-block ">
                            <h2>Create a wall</h2>
                            <div class="form-group form-group-add-wall">
                                <input type="text" ng-model="MAddWall.name"  placeholder="NAME" class="input input-add-column" >
                                <div class="form-color-add-wall">
                                    <ul class="add-wall-color-ul">
                                        <li style="background-color:#fe6f6b" data-color="#fe6f6b" class="add-wall-color" ></li>
                                        <li style="background-color:#ffaa73" data-color="#ffaa73" class="add-wall-color" ></li>
                                        <li style="background-color:#f0d567" data-color="#f0d567" class="add-wall-color" ></li>
                                        <li style="background-color:#50cc6d" data-color="#50cc6d" class="add-wall-color" ></li>
                                        <li style="background-color:#60b0eb" data-color="#60b0eb" class="add-wall-color" ></li>
                                        <li style="background-color:#587ab0" data-color="#587ab0" class="add-wall-color" ></li>
                                        <li style="background-color:#d99bdd" data-color="#d99bdd" class="add-wall-color" ></li>
                                        <li style="background-color:#ff77b1" data-color="#ff77b1" class="add-wall-color" ></li>
                                        <li style="background-color:#848484" data-color="#848484" class="add-wall-color" ></li>
                                    </ul>
                                </div>
                                <button ng-click=""  type="submit" class="btn btn-add-column">CREATE</button>
                            </div>
                            <!--<div class="add-form-group">
                                <input type="text" ng-model="MAddWall.name" class="input input-add-group" placeholder="Name">         

                            </div>-->

                    </div>


                    <menuwalls add-column=addColumn() walls=walls switch-wall=switchWall(el) add-group=addGroup()></menuwalls>
                    <ul class="block-menu-list block-menu-list-extra">
                        <li ng-click="ShowProfile($event)" class="menu-item  menu-profile" >
                            <img height="12" width="12" src="/images/icon-profile.png?8">
                        </li>
                    </ul>
                    <!--<menucolumn columns=columns add-column=addColumn()></menucolumn>

                    

                    <ul class="block-menu-list block-menu-list-extra">
                        <li ng-click="ShowProfile($event)" class="menu-item  menu-profile" >
                            <img height="16" width="16" src="/images/icon-profile.png">
                        </li>
                        <li class="menu-item  menu-settings" >
                            <img height="16" width="16" src="/images/icon-settings.png">
                        </li>
                    </ul>

                    <ul class="block-menu-list block-menu-list-scroll">
                        <li style="width:20px; height:20px;" mouse-top="" class="menu-item mouse-top"></li>
                    </ul>--->
                </div>

</div>
<!-- END LEFT MENU -->

<!-- CONTENT START -->
<div class="block-content">


<!-- start profile column -->
<section  class="column column-profile-column size400">

                            <div class="column-panel column-standart-panel">

                                
                                <div class="column-content">
                                    <div class="column-container-scroller">
                                        <div class="column-container">

                                    <div class="user__card__block">
                                        f
                                    <div>    
                                </div>       
                                


                                         
                                        </div>
                                    </div>
                                </div>

                            </div>
</section>
<!-- end profile column -->

</div>
<!-- CONTENT END -->