<!-- LEFT MENU START -->
<div class="block-left-menu">
                <!--<div class="block-logo">
                    <a href="/feed">
                        <img class="logo-img" src="http://contter.dev/images/logo-home.png">
                    </a>
                </div>-->
                <div class="block-menu">

                	<ul class="block-menu-list-header">
                        <li ng-click="addWallCateg(1)" class="menu-item-adm-header menu-item-adm-add-categ" >
                            <p><i class="icon icon-list-add"></i></p>
                            <p>Добавить категорию</p>
                        </li>
                        <li ng-if="cat != 'RECOMMENDED'" ng-click="addWallCateg(2)" class="menu-item-adm-header menu-item-adm-add-column" >
                            <p><i class="icon icon-th-large-2"></i></p>
                            <p>Добавить стену</p>
                        </li>
                    </ul>

                   


                    <menuwalls  add-column=addColumn() walls=walls switch-wall=switchWall(el) add-group=addGroup()></menuwalls>

                    <ul  class="block-menu-list-footer">
                        <li switch-footer-menu data-url="top" class="menu-item-footer menu-top" ></li>
                        <li switch-footer-menu data-url="trends" class="menu-item-footer menu-trends" ></li>
                        <li ng-click="ShowProfile($event)" class="menu-item-footer  menu-profile" ></li>
                    </ul>

                    <!--<ul class="block-menu-list block-menu-list-extra">
                        <li ng-click="ShowProfile($event)" class="menu-item  menu-profile" >
                            <img height="12" width="12" src="/images/icon-profile.png?8">
                        </li>
                    </ul>-->
                    <!--<menucolumn columns=columns add-column=addColumn()></menucolumn>

                    

                    <ul class="block-menu-list block-menu-list-extra">
                        <li ng-click="ShowProfile($event)" class="menu-item  menu-profile" >
                            <img height="16" width="16" src="/images/icon-profile.png">
                        </li>
                        <li class="menu-item  menu-settings" >
                            <img height="16" width="16" src="/images/icon-settings.png">
                        </li>
                    </ul>

                    <ul class="block-menu-list block-menu-list-scroll">
                        <li style="width:20px; height:20px;" mouse-top="" class="menu-item mouse-top"></li>
                    </ul>-->
                </div>

</div>
<!-- END LEFT MENU -->

<!-- CONTENT START -->
<div class="block-content">
    <div class="block-container-columns l-scroll">

        <div class="block-horizontal-columns">
            <ng-include src="'/views/feed/column-walls.html?4trfffgfffvggfhdsdfdgdfdаkrrfdsdffbdb'" ></ng-include>
        </div> 
    </div>   	
</div>
<!-- END CONTENT -->

