<span class="cntr-pallet-noti"><p class="cntr-pallet-noti-count" ><p></span>
<!--<span ng-style="{ 'background' : (column.types == 1 || column.types == 2) ? column.color : '#1562BD' }" data-column="{{ column.id }}" class="column-notification \">
    <span ng-style="{ 'border-bottom-color' : (column.types == 1 || column.types == 2) ? column.color : '#1562BD' }"  class="before"></span>
        <span class="noti__text" ></span>
    <span ng-style="{ 'border-bottom-color' : (column.types == 1 || column.types == 2) ? column.color : '#1562BD' }"  class="after"></span>
</span>
-->