<ul class="block-menu-list block-menu-list-wall">

    <li ng-repeat="wall in walls" ng-if="wall.current" ng-style="{ 'background' : wall.color}" data-slug="{{ wall.slug }}" data-wall="{{ wall.id }}"  class="menu-item-wall active-menu-wl">
        <span class="menu-item-wall-title">{{wall.name}}</span>
        <span class="menu-item-wall-top"><i class="icon icon-wall-top icon-fire-2"></i></span>
    </li>

    <li ng-if="showleftmenu" add-column-der add-column="addColumn()" class="menu-item menu-item-add-column menu-item-add">
        <img height="16" width="12" class="menu-item-img" src="/images/icon-col.png?7">
    </li>
    <li ng-if="showleftmenu" add-group-der add-group="addGroup()"  class="menu-item menu-item-add-wall">
        <img height="10" width="14" class="menu-item-img" src="/images/icon-wall.png?7">
    </li>

    
    
</ul>

<ul class="block-menu-list block-menu-list-wall block-menu-list-wall-block">

    <li ng-repeat="wall in walls  | orderBy: 'sort'  " ng-if="!wall.current" ng-style="{'background' : wall.color}" data-slug="{{ wall.slug }}" data-wall="{{ wall.id }}"  class="menu-item-wall menu-item-wall-basic"><span class="menu-item-wall-title">{{wall.name}}</span></li>

    
    
</ul>
<!--<ul class="block-menu-list block-menu-list-wall">
    <li switch-walls-der switch-wall="switchWall(1)" ng-repeat="wall in walls" data-wall="{{ wall.id }}" switch-wall="switchWall(wall.id)" ng-class="wall.current ? 'active-menu-wl' :''" class="menu-item "><i style="color:yellow;" class="icon-star-filled"></i></li>
    <li  class="menu-item menu-item-add">add wall</li>
</ul>-->