


<!-- start top wall column -->
<section class="column column-top size400">
    <div data-page="10" scroll-column class="column-panel column-top-panel">
        <div class="column-content">
            <div class="column-container-scroller">
                <div class="column-container">
                    <div ng-repeat="item in top_columns.items" ng-include src="'/views/feed/top-link.html?4dtrsreddffdgdffbdb'">
                    </div>
                </div>    
            </div>        
        </div>            
    </div>    
</section>
<!-- end top wall column -->



<!-- start column -->
<section  ng-repeat="column in columns | orderBy: 'sort' " ng-animate="'animate'" class="column size{{column.st.size}}"  ng-class="{'rel-column' : column.types == 4, 'related-column' : column.related_column, 'rec-column' : column.launch == 'recontent'}" ng-mouseenter="hoverColumnActive({el: column.id})" data-site="{{ column.site_id }}" data-column="{{ column.id }}" >

    
       
                            <div data-page="10" scroll-column ng-class="{'column-standart-panel' : column.types == 1, 'column-word-panel' : column.types == 2 }" class="column-panel ">

                                <header class="cntr-column-header" ng-if="(column.types == 1 || column.types == 2) && column.launch == 'sites'" >

                                    <span  noti-column column="column" notify="$parent.ws_new_links"></span>

                                    <div class="cntr-pallet ">
                                        <div ng-click="showMenuColumn(column.id)" class="cntr-pallet-mini">
                                            <img ng-if="column.types != 2" class="cntr-pallet-img-favicon pull-left" src="{{ column.icon }}">

                                            <div ng-if="column.types == 2" ng-style="{ 'background' : column.color }" class="cntr-pallet-img-word pull-left">
                                                <span ng-bind="column.name|firstletter"></span>
                                            </div>

                                            <span ng-style="{ 'background' : column.color }" class="cntr-pallet-mini-noti-dot"></span>
                                        </div>
                                        <div class="cntr-pallet-full">
                                            <h2 class="cntr-pallet-title" ng-bind="column.name"></h2>
                                            
                                        </div>
                                    </div>

                                    <div class="cntr-pallet-settings ">
                                        
  

                                    </div>

                                </header>

                                

                                <header class="cntr-column-header" ng-if="(column.types == 1 || column.types == 2) && column.launch == 'standart'" >

                                    <span  noti-column column="column" notify="$parent.ws_new_links"></span>

                                    <div class="cntr-pallet ">
                                        <div ng-click="showMenuColumn(column.id)" class="cntr-pallet-mini">
                                            <img ng-if="column.types != 2" class="cntr-pallet-img-favicon pull-left" src="{{ column.icon }}">

                                            <div ng-if="column.types == 2" ng-style="{ 'background' : column.color }" class="cntr-pallet-img-word pull-left">
                                                <span ng-bind="column.name|firstletter"></span>
                                            </div>

                                            <span ng-style="{ 'background' : column.color }" class="cntr-pallet-mini-noti-dot"></span>
                                        </div>
                                        <div class="cntr-pallet-full">
                                            <h2 class="cntr-pallet-title" ng-bind="column.name"></h2>
                                            <ul ng-if="column.userTypeColumn == 'Current'" class="cntr-pallet-menu">
                                                <li ng-click="showColumnSettings(column.id)" class="cntr-pallet-menu-icon cntr-pallet-menu-settings"></li>
                                                
                                                <li ng-click="getReContent(column.id)" ng-if="column.types == 1" class="cntr-pallet-menu-icon cntr-pallet-menu-recontent"></li>
                                            </ul>

                                            <div ng-if="column.userTypeColumn == 'Alien'" ng-click="addColumnFromUser($event, column.id)" class="cntr-pallet-add">
                                                <p class="cntr-pallet-add-button">ADD</p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="cntr-pallet-settings ">
                                        <div ng-if="column.types == 1" class="cntr-pallet-settings-sub typeOne">

                                                <div class="table-settings">
                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Show on wall</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block">
                                                                    <div class="add-source-group-block-divs-wall">

                                                                        <div  ng-repeat="wall in column.column_walls" data-id="{{wall.id}}"class="add-source-group-block-wall  active" ng-click="showOnWallElement($event)" ng-class="{'current' : wall.current, 'dop' : !wall.current }" style="background: {{wall.color}};">
                                                                            {{wall.name}}
                                                                        </div>
                                                        
                                                                        <i ng-click="showOnWall($event)" class="icon-plus"></i>
                                                                    </div>    
                                                                    <div class="add-source-group-block-div-extra">
                                                                    </div>
                                                        
                                                                </div>


                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Size column</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-size">
                                                                    <div class="acs-show-group-div">
                                                                        <span ng-class="{'acs-size-active': column.st.size == 300}" ng-click="settingsEditSizeColumn($event, column.id, 300)" class="acs-show-group-span acs-size "><span>SMALL</span> </span>
                                                                        <span ng-class="{'acs-size-active': column.st.size == 400}" ng-click="settingsEditSizeColumn($event, column.id, 400)" class="acs-show-group-span acs-size"><span>MEDIUM</span> </span>
                                                                        <span ng-class="{'acs-size-active': column.st.size == 500}" ng-click="settingsEditSizeColumn($event, column.id, 500)" class="acs-show-group-span acs-size"><span>LARGE</span> </span>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Stream in realtime</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-noti">
                                                                    <div class="ac-form-acs-public">
                                                                        <div ng-click="settingsEditRealtimeColumn($event, column.id)" ng-class="{'checked-site': !column.st.realtime, 'checked-word': column.st.realtime}" class="acs_toggle_block ">
                                                                            <div class="acs_toggle_button">
                                                                                <div class="acs_toggle_site_text">No</div>
                                                                                <div class="acs_toggle_word_text">Yes</div>
                                                                                <span class="acs_toggle_handle"><span></span></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>

                                                </div>

                                                <div class="cntr-pallet-settings-footer">
                                                    <a ng-click="getFavourites(column.id)"  title="Favourites" class="cntr-pallet-link-column"><i class="icon icon-star"></i></a>


                                                    <div class="cntr-pallet-nav-column">
                                                        <ul class="custom-sorter">
                                                            <li ng-click="settingsEditSortColumn($event, 'left')" class="custom-sorter-el left"></li>
                                                            <li class="custom-sorter-el dot"></li>
                                                            <li ng-click="settingsEditSortColumn($event, 'right')" class="custom-sorter-el right"></li>
                                                        </ul>
                                                    </div>
                                                    <a ng-click="settingsEditRemoveColumn($event)" title="remove column" class="cntr-pallet-delete-column">
                                                        <i class="icon icon-trash-8"></i>
                                                    </a>
                                                </div>    

                                        </div>

                                        <div ng-if="column.types == 2" class="cntr-pallet-settings-sub typeTwo">

                                                <div class="table-settings">

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Sources</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">
                                                                <div class="add-source-group-block">

                                                                    <div class="add-source-group-block-div source">

                                                                        <div ng-repeat="sc in column.source_columns" ng-click="showOnSourceElement($event)" style="border-color: {{ sc.color }};" data-id="{{ sc.id }}" class="add-source-group-block-img active"><img height="16" width="16" src="{{ sc.icon }}"></div>

                                                                    <i ng-click="showOnSource($event)"class="icon-plus"></i>
                                                                    </div>
                                                                    <div class="both"></div>
                                                                    <div class="add-source-group-block-div-extra">
                                                        
                                                                    </div>
                                                                </div>    
                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Matching</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block matching">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO MATCH" maxlength="45" key-enter="" class="input input-word" >
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon green"><i class="icon-plus"></i></div>
                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        <div ng-repeat="word in column.st.word_filter" class="add-source-group-block-word ">
                                                                            <span>{{word}}</span> <i ng-click="settingsEditWordsWColumn($event, 'delete')" class="icon-cancel"></i>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Excluding</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block excluding">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO EXCLUDE" maxlength="45" key-enter="" class="input input-word"  >
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon"><i class="icon-plus"></i></div>

                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        <div ng-repeat="word in column.st.word_exclude" class="add-source-group-block-word ">
                                                                            <span>{{word}}</span> <i ng-click="settingsEditWordsWColumn($event, 'delete')" class="icon-cancel"></i>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>


                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Show on wall</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block">
                                                                    <div class="add-source-group-block-divs-wall">

                                                                        <div  ng-repeat="wall in column.column_walls" data-id="{{wall.id}}"class="add-source-group-block-wall  active" ng-click="showOnWallElement($event)" ng-class="{'current' : wall.current, 'dop' : !wall.current }" style="background: {{wall.color}};">
                                                                            {{wall.name}}
                                                                        </div>
                                                        
                                                                        <i ng-click="showOnWall($event)" class="icon-plus"></i>
                                                                    </div>    
                                                                    <div class="add-source-group-block-div-extra">
                                                                    </div>
                                                        
                                                                </div>


                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Size column</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-size">
                                                                    <div class="acs-show-group-div">
                                                                        <span ng-class="{'acs-size-active': column.st.size == 300}" ng-click="settingsEditSizeColumn($event, column.id, 300)" class="acs-show-group-span acs-size "><span>SMALL</span> </span>
                                                                        <span ng-class="{'acs-size-active': column.st.size == 400}" ng-click="settingsEditSizeColumn($event, column.id, 400)" class="acs-show-group-span acs-size"><span>MEDIUM</span> </span>
                                                                        <span ng-class="{'acs-size-active': column.st.size == 500}" ng-click="settingsEditSizeColumn($event, column.id, 500)" class="acs-show-group-span acs-size"><span>LARGE</span> </span>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Stream in realtime</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-noti">
                                                                    <div class="ac-form-acs-public">
                                                                        <div ng-click="settingsEditRealtimeColumn($event, column.id)" ng-class="{'checked-site': !column.st.realtime, 'checked-word': column.st.realtime}" class="acs_toggle_block ">
                                                                            <div class="acs_toggle_button">
                                                                                <div class="acs_toggle_site_text">No</div>
                                                                                <div class="acs_toggle_word_text">Yes</div>
                                                                                <span class="acs_toggle_handle"><span></span></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>

                                                </div>

                                                <div class="cntr-pallet-settings-footer">
                                                    <a ng-click="getFavourites(column.id)"  title="Favourites" class="cntr-pallet-link-column"><i class="icon icon-star"></i></a>

                                                    <div class="cntr-pallet-nav-column">
                                                        <ul class="header-column-sort">
                                                            <li ng-click="settingsEditSortColumn($event, 'left')" class="header-column-sort-li left"></li>
                                                            <li class="header-column-sort-li dot"></li>
                                                            <li ng-click="settingsEditSortColumn($event, 'right')" class="header-column-sort-li right"></li>
                                                        </ul>
                                                    </div>
                                                    <a ng-click="settingsEditRemoveColumn($event)" title="remove column" class="cntr-pallet-delete-column">
                                                        <i class="icon icon-trash-8"></i>
                                                    </a>
                                                </div>     

                                        </div>   

                                    </div>

                                </header>

                                <header class="cntr-column-header-open-full cntr-column-header cntr-column-header-recontent" ng-if="(column.types == 1 || column.types == 2) && column.launch == 'recontent'" >


                                    <span  noti-column column="column" notify="$parent.ws_new_links"></span>

                                    <div class="cntr-pallet ">
                                       <!-- <div ng-click="showMenuColumn(column.id)" class="cntr-pallet-mini">
                                            <img  class="cntr-pallet-img-favicon pull-left" src="{{ column.icon }}">
                                        </div>-->
                                        <div class="cntr-pallet-full">
                                            <h2 class="cntr-pallet-recontent-title" ><span class="text-left">recommendations</span> <span ng-click="showMenuColumn(column.id)" class="text-right">{{column.name}}</span></h2>
                                        </div>
                                        <!--<div  class="cntr-pallet-mini-recontent">
                                            <img  class="cntr-pallet-img-favicon pull-left" src="/images/icon-top-re.png">
                                        </div>-->
                                    </div>

                                    <div class="cntr-pallet-settings ">
                                    </div>

                                </header>

                                <header class="cntr-column-header cntr-column-header-favourite" ng-if="(column.types == 1 || column.types == 2) && column.launch == 'favourite'" >


                                    <span  noti-column column="column" notify="$parent.ws_new_links"></span>

                                    <div class="cntr-pallet ">
                                        <div ng-click="showMenuColumn(column.id)" class="cntr-pallet-mini">
                                            <img  class="cntr-pallet-img-favicon pull-left" src="{{ column.icon }}">
                                        </div>
                                        <div class="cntr-pallet-full">
                                            <h2 class="cntr-pallet-title" >{{column.name}} BOOKMARKS</h2>
                                        </div>
                                        <div  class="cntr-pallet-mini-favourite">
                                            <img  class="cntr-pallet-img-favicon pull-left" src="/images/icon-top-fav.png">
                                        </div>
                                    </div>

                                    <div class="cntr-pallet-settings ">
                                    </div>

                                </header>

                                <header class="cntr-column-header cntr-column-header-related" ng-if="(column.types == 1 || column.types == 2) && column.launch == 'related'" >

                                    <div class="cntr-pallet ">
                                        <div class="cntr-pallet-full">
                                            <h2 class="cntr-pallet-title" >RELATED CONTENT </h2>
                                            <i ng-click="CloseRelated($event)" class="cntr-column-header-rel-close icon-cancel"></i>
                                        </div>
                                    </div>

                                </header>
                                

                                <div class="column-content">
                                    <div class="column-container-scroller">
                                        <div class="column-container">

                                           <!---<div class="loader-re-content active" ng-if="column.types == 4 && column.items.length <= 1 && !column.related_column">
                                                <div class="loader  loader-ellipsis-rel" data-type="default"></div>
                                                <p class="loader-re-content-text">Please wait<br>We're creating the feed<br></p>
                                            </div>

                                            <div class="info-co-related-content active" ng-if="column.types == 4 && column.related_column && !column.column_to_rel_column">
                                                <p class="rel-content-text">You have not added<br>a similar material<br><br>To see here similar materials, <br>start watching the news</p>
                                            </div>

                                            <div class="loader-re-content active" ng-if="column.types == 4 && column.related_to_items.length < 1 && column.related_column && column.column_to_rel_column">
                                                <div class="loader  loader-ellipsis-rel" data-type="default"></div>
                                                <p class="loader-re-content-text">Please wait<br>We're loading related dates<br></p>
                                            </div>-->

                                      
                                            <div ng-if="(column.types == 1 || column.types == 2) && column.launch == 'standart'">
                                                <div ng-repeat="item in column.items" ng-include src="'/views/feed/link.html?4dtrsreddffdgdffbdb'"></div>
                                            </div>

                                            <div ng-if="(column.types == 1 || column.types == 2) && column.launch == 'sites'">
                                                <div ng-repeat="item in column.items" ng-include src="'/views/feed/link.html?4trshregdddfdfdgffbdb'"></div>
                                            </div>

                                            <div ng-if="(column.types == 1 || column.types == 2) && column.launch == 'recontent'">

                                                <div class="loader-recontent-content" ng-class="{'active' : !column.get_recontent}">
                                                    <div class="loader  loader-ellipsis-recontent" data-type="default"></div>
                                                    <p class="loader-recontent-content-text">Please wait<br>We're loading the feed<br></p>
                                                </div>

                                                <div class="none-recontent-content" ng-class="{'active' : column.get_recontent && column.recontent_items.length <= 0}">
                                                    <p class="none-recontent-content-text">Nothing yet</p>
                                                </div>  


                                                <div ng-repeat="item in column.recontent_items" ng-include src="'/views/feed/link.html?4dsfred5vfb'"></div>

                                            </div>

                                            <div ng-if="(column.types == 1 || column.types == 2) && column.launch == 'favourite'">

                                                <div class="loader-favourite-content" ng-class="{'active' : !column.get_favourites}">
                                                    <div class="loader  loader-ellipsis-favourite" data-type="default"></div>
                                                    <p class="loader-favourite-content-text">Please wait<br>We're loading your favorites<br></p>
                                                </div>

                                                <div class="none-favourite-content" ng-class="{'active' : column.get_favourites && column.favourites_items.length <= 0}">
                                                    <p class="none-favourite-content-text">Nothing yet</p>
                                                </div>  

                                                <div ng-repeat="item in column.favourites_items" ng-include src="'/views/feed/link.html?hvbsdef5rdsvfb'"></div>

                                            </div>

                                            <!-- realted items -->
                                            <div ng-if="(column.types == 1 || column.types == 2) && column.launch == 'related'">

                                                <!--<div class="loader-recontent-content" ng-class="{'active' : !column.get_recontent}">
                                                    <div class="loader  loader-ellipsis-recontent" data-type="default"></div>
                                                    <p class="loader-recontent-content-text">Please wait<br>We're loading the feed<br></p>
                                                </div>

                                                <div class="none-recontent-content" ng-class="{'active' : column.get_recontent && column.related_to_items.length <= 0}">
                                                    <p class="none-recontent-content-text">Nothing yet</p>
                                                </div>-->


                                                <div ng-repeat="item in column.related_to_items" ng-include src="'/views/feed/link.html?4dsfrged5vfb'"></div>

                                            </div>
                                            <!-- end related items -->

                                            <div ng-if="column.types == 4 || column.types == 3">
                                                <posts posts=column.items></posts>
                                            </div>
                                            
                                            

                                        </div>
                                    </div>
                                </div>

                            </div>
</section>
<!-- end column -->

