<!-- start add column <section class="column column-add-column size400"> -->
<section class="column column-add-column size400 ng-scope active" style="margin-left: 0px;">
    <div class="column-panel">
        <div style="overflow-y: hidden!important;" class="column-content">
            <div class="column-container-scroller">
                <div class="column-container">
                    <div class="addcolumn-container">
                        <div class="addcolumn-header">

                            <div style="display:none" data-type="addcateg" class="addcolumn-header-custom">
                                <div class="cc-add-column collection active">
                                              <div class="form-inline">

                                                <div class="form-row">

                                                <div class="form-group">
                                                </div>
                                                <div style="width: 58%;" class="form-group">
                                                  <input type="text" placeholder="NAME" maxlength="20" ng-model="nameWordColumn" class="input input-add-column input-add-column-custom">
                                                </div>
                                                <div class="form-group">
                                                  <button type="submit" ng-click="sendFormAddWallsCateg($event)" class="btn btn-add-column">
                                                    CREATE A CATEGORY
                                                  </button>
                                                </div>
                                                </div>



                                              </div>
                                          </div>
                            </div>

                            <div style="display:block" data-type="addcolumn" class="container-collections addcolumn-header-custom">
                                <div style="display:block;text-align: center;" class="block-collections sw-list">
                                    
                                    <div class="sw-wall sw-wall-edit" data-color="#9900f7" style="background-color:#9900f7">
                                        <div class="admin-sw-wall-table-header">
                                            <div class="admin-sw-extra-item admin-sw-color">
                                                <i class="icon icon-color-adjust"></i>
                                            </div>
                                            <div class="admin-sw-extra-item admin-sw-image">
                                                <i class="icon icon-file-image"></i>
                                                <input id="wallimage" name="wallimage" type="file"  accept="image/jpeg">
                                            </div>
                                        </div>    
                                        <div class="sw-wall-table">
                                            <div class="sw-wall-table-row-columns">
                                                <div class="sw-wall-table-cell">
                                                    <div class="sw-wall-columns">
                                                        

                                                        <div class="sw-wall-footer-columns">
                                                            <button type="submit"  class="btn btn-add-column-wall  btn-add-column">ADD SITE</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sw-wall-table-row-header">
                                                <div class="sw-wall-table-cell">
                                                    <h2></h2>
                                                    <input type="text" placeholder="NAME" class="input admin-sw-name input-add-column">
                                                </div>
                                            </div>
                                            <div class="sw-wall-table-row-footer">
                                                <div class="sw-wall-table-cell">
                                                   <h2></h2>
                                                   <input type="text" placeholder="DESCRIPTION" class="input admin-sw-desc input-add-column">
                                                </div>
                                            </div>
                                        </div>
            
            
                                    </div>

                                    <div class="block-footer-collections">
                                        <button type="submit"  class="btn btn-add-column-save btn-add-column">
                                                   SAVE WALL
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end add column -->

<!-- start add wall column -->
<section class="column column-add-column size400 column-add-column-wall active" style="margin-left: 0px; display:none">
    <div class="column-panel">
        <div style="overflow-y: hidden!important;" class="column-content">
            <div class="column-container-scroller">
                <div class="column-container">
                    <div class="addcolumn-container">
                        <div class="addcolumn-header">

                            <div class="add-walls-column">
                                <div data-type="addstandart" class="addcolumn-header-standart">
                                <div class="cc-add-column standart active">
                                    <div class="form-group form-group-add-column">
                                      <input key-enter-add-column type="text" placeholder="enter name or URL site" class="input input-add-column">
                                    </div>
                                    <!--<div ng-click="ChangeTypeAddColumn($event)" class="form-group form-group-btn-add-column">
                                      <span class="addcolumn-switch">CREATE A COLUMN</span>
                                    </div>-->
                                    <div class="form-group form-group-btn-add-column">
                                      <button ng-click="AddInColumnSearchWords($event)" type="submit" class="btn btn-add-column">
                                        SEARCH
                                      </button>
                                    </div>
                                    
                                </div>
                            </div>
                                <div data-type="addwallcolumn" class=" add-walls-columnaddcolumn-block-standart">
                                    <div  class="addcolumn-block-words">
                                        <h3>CATALOG SITES <span>(a-Z)</span></h3>
                                        <div class="addcolumn-list-words">
                                            <div class="addcolumn-group-word">
                                                <div ng-click="AddColumnWords($event)" data-letter="A" class="addcolumn-item-word">
                                                    <span>A</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="B" class="addcolumn-item-word">
                                                    <span>B</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="C" class="addcolumn-item-word">
                                                    <span>C</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="D" class="addcolumn-item-word">
                                                    <span>D</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="E" class="addcolumn-item-word">
                                                    <span>E</span>
                                                </div>
                                            </div>
                                            <div class="addcolumn-group-word">
                                                <div ng-click="AddColumnWords($event)" data-letter="F" class="addcolumn-item-word">
                                                    <span>F</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="F" class="addcolumn-item-word">
                                                    <span>G</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="H" class="addcolumn-item-word">
                                                    <span>H</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="I" class="addcolumn-item-word">
                                                    <span>I</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="J" class="addcolumn-item-word">
                                                    <span>J</span>
                                                </div>
                                            </div>
    
                                            <div class="addcolumn-group-word">
                                                <div ng-click="AddColumnWords($event)" data-letter="K" class="addcolumn-item-word">
                                                    <span>K</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="L" class="addcolumn-item-word">
                                                    <span>L</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="M" class="addcolumn-item-word">
                                                    <span>M</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="N" class="addcolumn-item-word">
                                                    <span>N</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="O" class="addcolumn-item-word">
                                                    <span>O</span>
                                                </div>
                                            </div>
    
                                            <div class="addcolumn-group-word">
                                                <div ng-click="AddColumnWords($event)" data-letter="P" class="addcolumn-item-word">
                                                    <span>P</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="Q" class="addcolumn-item-word">
                                                    <span>Q</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="R" class="addcolumn-item-word">
                                                    <span>R</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="S" class="addcolumn-item-word">
                                                    <span>S</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="T" class="addcolumn-item-word">
                                                    <span>T</span>
                                                </div>
                                            </div>
    
                                            <div class="addcolumn-group-word">
                                                <div ng-click="AddColumnWords($event)" data-letter="U" class="addcolumn-item-word">
                                                    <span>U</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="V" class="addcolumn-item-word">
                                                    <span>V</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="W" class="addcolumn-item-word">
                                                    <span>W</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="X" class="addcolumn-item-word">
                                                    <span>X</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="Y" class="addcolumn-item-word">
                                                    <span>Y</span>
                                                </div>
                                            </div>
    
                                            <div class="addcolumn-group-word">
                                                <div ng-click="AddColumnWords($event)" data-letter="Z" class="addcolumn-item-word">
                                                    <span>Z</span>
                                                </div>
                                                <div ng-click="AddColumnWords($event)" data-letter="NUMBERS" class="addcolumn-item- number addcolumn-item-word">
                                                    <span>0-9</span>
                                                </div>
                                            </div>
    
                                        </div>
                                </div>
    
                                <div class="addcolumn-block-feeds">
                                        
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end add wall column -->

<!-- start content -->
<section style="    width: 95%;" class="column size400 " >

            <div class="nav-block-rec-walls">
                <h2>МЫ СОЗДАЛИ ДЛЯ ВАС СТЕНЫ ПО САМЫМ ПОПУЛЯРНЫМ НАПРАВЛЕНЯМ. </h2>
                <ul class="nav-menu-list-rec-walls">
                        <li data-name="RECOMMENDED"  ng-click="switchWallCat($event, 'RECOMMENDED')" class="nav-menu-item-rec-walls"     ng-class="{'active' : cat == 'RECOMMENDED'}">RECOMMENDED FOR YOU</li>
                      <!--  <li data-name="SPORTS"  ng-click="switchWallCat($event, 'SPORTS')" class="nav-menu-item-rec-walls " ng- class="{'active' : cat == 'SPORTS'}">SPORTS</li>-->
                       <li ng-repeat="categ in categories" data-id="{{categ.id}}" data-name="{{categ.name}}"  class="nav-menu-item-rec-walls" ng-class="{'active' : categ.name == cat}">
                        <p ng-click="switchWallCat($event, {{categ.name}})" data-name="{{categ.name}}" >{{categ.name}}</p>
                        <div ng-click="toggleWallsColumn(categ)" class="nav-menu-item-top-toggle " ng-class="{'active' : categ.is_active}">
                                <i class="icon icon-check"></i>
                            </div>
                    </li>
                </ul>
    
                <div class="block-menu-list-rec-walls">
                    <div class="lrw-wall" ng-repeat="wall in wallss" style="background: #7306d9">
                        <div  class="lrw-wall-table">
                            <div class="lrw-wall-table-row-columns">
                                <div class="lrw-wall-table-cell">
                                    <div class="lrw-wall-columns">
                                        <div ng-repeat="column in wall.columns" class="lrw-wall-column">
                                            <img class="" src="{{column.icon}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lrw-wall-table-row-header">
                                <div class="lrw-wall-table-cell">
                                    <h2>{{wall.name}}</h2>
                                </div>
                            </div>
                            <div class="lrw-wall-table-row-footer">
                                <div class="lrw-wall-table-cell">
                                   <h2>{{wall.description}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>        
            </div>
</section> 
<!-- end content -->