



<!-- start column -->
<section  ng-repeat="column in columns | orderBy: 'sort' " ng-animate="'animate'" class="column size{{column.st.size}}"  ng-class="{'rel-column' : column.types == 4, 'related-column' : column.related_column }" ng-mouseenter="hoverColumnActive({el: column.id})" data-site="{{ column.site_id }}" data-column="{{ column.id }}" >

    
    <div data-page="10" scroll-re-column notify="ws_new_related_links" class="column-panel column-rel-panel " >
    <div class="column-content column-rel-content">
                                    <div class="column-container-scroller">
                                        <div class="column-container">
                                         <!-- <div ng-class="{'active' : column.types == 3 && column.recontent_items.length <= 1}" class="loader loader-re-content loader-ellipsis" data-type="default"></div>-->

                                          <div class="loader-recontent-content" ng-class="{'active' : column.types == 1 && !column.get_recontent}">
                                            <div class="loader  loader-ellipsis-recontent" data-type="default"></div>
                                            <!--<p class="loader-recontent-content-text">Please wait<br>We're creating the feed<br></p>-->
                                          </div>

                                          <div class="none-recontent-content" ng-class="{'active' : column.types == 1 && column.get_recontent && column.recontent_items.length <= 1}">
                                            <p class="none-recontent-content-text">Nothing yet</p>
                                          </div>  

                                      

                                      <posts posts=column.recontent_items></posts>


                                        </div>
                                    </div>
                                </div>

    <header class="column-header-noti noti__re__column" >
        <div class="column-headers  group">
            <div class="column-header-block">
                <img class="column-img-recontent" src="http://contter.dev/images/re-follow.png">
            </div>
        </div>
        <div class="noti__re__column__lines"><div></div> <div></div> <div></div> <div></div> </div>
    </header>
 </div>   
                            <div data-page="10" scroll-column ng-class="{'column-standart-panel' : column.types == 1, 'column-word-panel' : column.types == 2 }" class="column-panel ">

                                <header class="column-header" ng-if="column.types == 1 || column.types == 2" ng-style="{ 'border-color' : (column.types == 1 || column.types == 2) ? column.color : '' }">
                                    <div class="column-headers  group">
                                        <div class="column-header-block">

                                            <div ng-if="userType == 'Current'" class="column-header-bookmarks " id="ribbon">
                                                <div class="container">
                                                    <div class="base"></div>
                                                    <div class="left_corner"></div>
                                                    <div class="right_corner"></div>
                                                </div>
                                            </div>
                                            <div ng-if="userType == 'Current'" class="column-header-bookmarks-after"></div>

                                            <img ng-if="column.types != 2" class="column-header-img pull-left" src="{{ column.icon }}">
                                            <div ng-if="column.types == 2" ng-style="{ 'background' : column.color }" class="column-header-img-word pull-left">
                                                <span ng-bind="column.name|firstletter"></span>
                                            </div>
                                            <h2 class="column-header-title" ng-bind="column.name"></h2>
                                        </div>
                                        <div ng-if="userType == 'Current'" ng-click="showMenuColumn(column.id)" class="column-header-toggle ">
                                            <button class="c-hamburger c-hamburger--htx"><span>toggle menu</span></button>
                                        </div>

                                         
                                        <div class="column-content-sub-menu"><!---->
                                          

                                            <div ng-if="column.types == 1" class="setting-sub-column">

                                                <div class="table-settings">
                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Show on wall</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block">
                                                                    <div class="add-source-group-block-divs-wall">

                                                                        <div  ng-repeat="wall in column.column_walls" data-id="{{wall.id}}"class="add-source-group-block-wall  active" ng-click="showOnWallElement($event)" ng-class="{'current' : wall.current, 'dop' : !wall.current }" style="background: {{wall.color}};">
                                                                            {{wall.name}}
                                                                        </div>
                                                        
                                                                        <i ng-click="showOnWall($event)" class="icon-plus"></i>
                                                                    </div>    
                                                                    <div class="add-source-group-block-div-extra">
                                                                    </div>
                                                        
                                                                </div>


                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Size column</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-size">
                                                                    <div class="acs-show-group-div">
                                                                        <span ng-class="{'acs-size-active': column.st.size == 300}" ng-click="settingsEditSizeColumn($event, column.id, 300)" class="acs-show-group-span acs-size "><span>SMALL</span> </span>
                                                                        <span ng-class="{'acs-size-active': column.st.size == 400}" ng-click="settingsEditSizeColumn($event, column.id, 400)" class="acs-show-group-span acs-size"><span>MEDIUM</span> </span>
                                                                        <span ng-class="{'acs-size-active': column.st.size == 500}" ng-click="settingsEditSizeColumn($event, column.id, 500)" class="acs-show-group-span acs-size"><span>LARGE</span> </span>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Stream in realtime</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-noti">
                                                                    <div class="ac-form-acs-public">
                                                                        <div ng-click="settingsEditNotiColumn($event)" class="acs_toggle_block checked-site">
                                                                            <div class="acs_toggle_button">
                                                                                <div class="acs_toggle_site_text">No</div>
                                                                                <div class="acs_toggle_word_text">Yes</div>
                                                                                <span class="acs_toggle_handle"><span></span></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>

                                                </div>

                                                <div class="setting-sub-column-footer">
                                                    <div class="setting-sub-nav-column">
                                                        <ul class="header-column-sort">
                                                            <li ng-click="settingsEditSortColumn($event, 'left')" class="header-column-sort-li left"></li>
                                                            <li class="header-column-sort-li dot"></li>
                                                            <li ng-click="settingsEditSortColumn($event, 'right')" class="header-column-sort-li right"></li>
                                                        </ul>
                                                    </div>
                                                    <a ng-click="settingsEditRemoveColumn($event)" title="remove column" class="setting-sub-remove-column">DELETE</a>
                                                </div>    

                                           </div>

                                           <div ng-if="column.types == 2" class="setting-sub-column">

                                                <div class="table-settings">

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Sources</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">
                                                                <div class="add-source-group-block">

                                                                    <div class="add-source-group-block-div source">

                                                                        <div ng-repeat="sc in column.source_columns" ng-click="showOnSourceElement($event)" style="border-color: {{ sc.color }};" data-id="{{ sc.id }}" class="add-source-group-block-img active"><img height="16" width="16" src="{{ sc.icon }}"></div>

                                                                    <i ng-click="showOnSource($event)"class="icon-plus"></i>
                                                                    </div>
                                                                    <div class="both"></div>
                                                                    <div class="add-source-group-block-div-extra">
                                                        
                                                                    </div>
                                                                </div>    
                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Matching</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block matching">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO MATCH" maxlength="45" key-enter="" class="input input-word" >
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon green"><i class="icon-plus"></i></div>
                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        <div ng-repeat="word in column.st.word_filter" class="add-source-group-block-word ">
                                                                            <span>{{word}}</span> <i ng-click="settingsEditWordsWColumn($event, 'delete')" class="icon-cancel"></i>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Excluding</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block excluding">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO EXCLUDE" maxlength="45" key-enter="" class="input input-word"  >
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon"><i class="icon-plus"></i></div>

                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        <div ng-repeat="word in column.st.word_exclude" class="add-source-group-block-word ">
                                                                            <span>{{word}}</span> <i ng-click="settingsEditWordsWColumn($event, 'delete')" class="icon-cancel"></i>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>


                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Show on wall</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block">
                                                                    <div class="add-source-group-block-divs-wall">

                                                                        <div  ng-repeat="wall in column.column_walls" data-id="{{wall.id}}"class="add-source-group-block-wall  active" ng-click="showOnWallElement($event)" ng-class="{'current' : wall.current, 'dop' : !wall.current }" style="background: {{wall.color}};">
                                                                            {{wall.name}}
                                                                        </div>
                                                        
                                                                        <i ng-click="showOnWall($event)" class="icon-plus"></i>
                                                                    </div>    
                                                                    <div class="add-source-group-block-div-extra">
                                                                    </div>
                                                        
                                                                </div>


                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Size column</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-size">
                                                                    <div class="acs-show-group-div">
                                                                        <span ng-class="{'acs-size-active': column.st.size == 300}" ng-click="settingsEditSizeColumn($event, column.id, 300)" class="acs-show-group-span acs-size "><span>SMALL</span> </span>
                                                                        <span ng-class="{'acs-size-active': column.st.size == 400}" ng-click="settingsEditSizeColumn($event, column.id, 400)" class="acs-show-group-span acs-size"><span>MEDIUM</span> </span>
                                                                        <span ng-class="{'acs-size-active': column.st.size == 500}" ng-click="settingsEditSizeColumn($event, column.id, 500)" class="acs-show-group-span acs-size"><span>LARGE</span> </span>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Stream in realtime</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-noti">
                                                                    <div class="ac-form-acs-public">
                                                                        <div ng-click="settingsEditNotiColumn($event)" class="acs_toggle_block checked-site">
                                                                            <div class="acs_toggle_button">
                                                                                <div class="acs_toggle_site_text">No</div>
                                                                                <div class="acs_toggle_word_text">Yes</div>
                                                                                <span class="acs_toggle_handle"><span></span></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>

                                                </div>

                                                <div class="setting-sub-column-footer">
                                                    <div class="setting-sub-nav-column">
                                                        <ul class="header-column-sort">
                                                            <li ng-click="settingsEditSortColumn($event, 'left')" class="header-column-sort-li left"></li>
                                                            <li class="header-column-sort-li dot"></li>
                                                            <li ng-click="settingsEditSortColumn($event, 'right')" class="header-column-sort-li right"></li>
                                                        </ul>
                                                    </div>
                                                    <a ng-click="settingsEditRemoveColumn($event)" title="remove column" class="setting-sub-remove-column">DELETE</a>
                                                </div>    

                                           </div>    


                                        </div>
                                    </div>
                                </header>

                                <header class="column-header-related" ng-if="column.types == 4" >
                                    <div class="column-headers-related">

                                        <span>{{column.name}}</span>

                                        <span ng-if="column.types == 4 && column.items.length > 1 && !column.related_column" class="related_follow" ng-class="{'active' : column.is_active, 'non-active' : !column.is_active}" ><i class="icon icon-check"></i></span>

                                        <span ng-if="column.types == 4 && column.related_to_items.length > 1 && column.related_column && column.column_to_rel_column" class="related_settings"><i class="icon icon-tools"></i></span>

                                        <span class="related_post_close" ng-click="closePostRelatedColumn($event)"><i class="icon icon-cancel"></i></span>
                                    </div>
                                    
                                    <!--<div class="column-headers  group">
                                        <div class="column-header-block">
                                            <img class="column-header-img pull-left" src="{{ column.icon }}">
                                            <h2 class="column-header-title" ng-bind="column.name"></h2>
                                        </div>
                                    </div>-->
                                </header>

                                <span noti-column column="column" notify="$parent.ws_new_links"></span>
                                

                                <div class="column-content">
                                    <div class="column-container-scroller">
                                        <div class="column-container">

                                            <div class="loader-re-content active" ng-if="column.types == 4 && column.items.length <= 1 && !column.related_column">
                                                <div class="loader  loader-ellipsis-rel" data-type="default"></div>
                                                <p class="loader-re-content-text">Please wait<br>We're creating the feed<br></p>
                                            </div>

                                            <div class="info-co-related-content active" ng-if="column.types == 4 && column.related_column && !column.column_to_rel_column">
                                                <p class="rel-content-text">You have not added<br>a similar material<br><br>To see here similar materials, <br>start watching the news</p>
                                            </div>

                                            <div class="loader-re-content active" ng-if="column.types == 4 && column.related_to_items.length < 1 && column.related_column && column.column_to_rel_column">
                                                <div class="loader  loader-ellipsis-rel" data-type="default"></div>
                                                <p class="loader-re-content-text">Please wait<br>We're loading related dates<br></p>
                                            </div>

                                      

                                            <posts posts=column.items></posts>
                                            

                                        </div>
                                    </div>
                                </div>

                            </div>
</section>
<!-- end column -->

