<!-- start add column <section class="column column-add-column size400"> -->
<section class="column column-add-column size400 " >
    <div class="column-panel">
        <div style="overflow-y: hidden!important;" class="column-content">
            <div class="column-container-scroller">
                <div class="column-container">
                    <div class="addcolumn-container">
                        <div class="addcolumn-header">

                            <div style="display:none" data-type="addcateg" class="addcolumn-header-custom">
                                <div class="cc-add-column collection active">
                                              <div class="form-inline">

                                                <div class="form-row">

                                                <div class="form-group">
                                                </div>
                                                <div style="width: 58%;" class="form-group">
                                                  <input type="text" placeholder="NAME" maxlength="20" ng-model="nameWordColumn" class="input input-add-column input-add-column-custom">
                                                </div>
                                                <div class="form-group">
                                                  <button type="submit" ng-click="sendFormAddTopCateg($event)" class="btn btn-add-column">
                                                    CREATE A CATEGORY
                                                  </button>
                                                </div>
                                                </div>



                                              </div>
                                          </div>
                            </div>

                            <div style="display:none" data-type="addcolumn" class="addcolumn-header-custom">
                                <div class="cc-add-column collection active">
                                              <div class="form-inline">

                                                <div class="form-row">

                                                <div class="form-group">
                                                    <div class="cntr-pallet-top">
                                                            <i class="icon icon-fire-2"></i>
                                                    </div>
                                                </div>
                                                <div style="width: 58%;" class="form-group">
                                                  <input type="text" placeholder="NAME" maxlength="20" ng-model="nameWordColumn" class="input input-add-column input-add-column-custom">
                                                </div>
                                                <div class="form-group">
                                                  <button type="submit" ng-click="sendFormAddColumn($event, 2)" class="btn btn-add-column">
                                                    CREATE A COLUMN
                                                  </button>
                                                </div>
                                                </div>



                                                <div class="form-row-step-two">
                                                    <div class="table-settings">

                                                        <br>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Matching</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block matching">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO MATCH" maxlength="45" key-enter="" class="input input-word">
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon green"><i class="icon-plus"></i></div>
                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Excluding</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block excluding">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO EXCLUDE" maxlength="45" key-enter="" class="input input-word">
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon"><i class="icon-plus"></i></div>

                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>



                                                    </div>

                                                </div>


                                                <div class="form-row-bottom">
                                                    <div ng-click="AddColumnCustomClose($event)" class="addcolumn-header-custom-close">
                                                        <i class="icon icon-cancel"></i>
                                                    </div>
                                                </div>


                                              </div>
                                          </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end add column -->

<!-- start navigation-column-top -->
<section  class="column navigation-column navigation-column-top size200">
                <div class="nav-block-top">
                    <h2>САМЫЕ ИНТЕРЕСНЫЕ И ПОПУЛЯРНЫЕ<br>НОВОСТИ СОБРАНЫ ВМЕСТЕ В<br>ОДНОЙ КОЛОНКИ</h2>
                    <ul class="nav-menu-list-top">
                        <li data-name="RECOMMENDED"  ng-click="switchTopCat($event, 'RECOMMENDED')" class="nav-menu-item-top " ng-class="{'active' : cat == 'RECOMMENDED'}">RECOMMENDED FOR YOU</li>

                        <li ng-repeat="categ in categories"  data-id="{{categ.id}}" class="nav-menu-item-top" ng-class="{'active' : categ.name == cat}">
                            <p ng-click="switchTopCat($event, {{categ.name}})" data-name="{{categ.name}}"> {{categ.name}}</p>
                            <div ng-click="toggleTopColumn(categ)" class="nav-menu-item-top-toggle " ng-class="{'active' : categ.is_active}">
                                <i class="icon icon-check"></i>
                            </div>
                        </li>

                        <!--<div class="nav-footer-add-wall">
                            <div class="form-group form-group-add-column">
                                <input  type="text" placeholder="enter name" class="input input-add-column">
                            </div>
                            <div  class="form-group form-group-btn-add-column">
                                <span class="addcolumn-switch">CREATE A WALL</span>
                            </div>
                        </div>-->

                    </ul>
                </div>     
</section>
<!-- end navigation-column-top -->

<!-- start column -->
<section  ng-repeat="column in columns | orderBy: 'sort' " ng-animate="'animate'" class="column size{{column.st.size}}"  ng-class="{'rel-column' : column.types == 4, 'related-column' : column.related_column }" ng-mouseenter="hoverColumnActive({el: column.id})" data-site="{{ column.site_id }}" data-column="{{ column.id }}" >

    
       
                            <div data-page="10" scroll-column ng-class="{'column-standart-panel' : column.types == 6}" class="column-panel column-top-panel">

                                <header class="cntr-column-header  cntr-column-header-open-full" >

                                    <span  noti-column column="column" notify="$parent.ws_new_links"></span>

                                    <div class="cntr-pallet ">
                                        <div  class="cntr-pallet-mini">
                                            <div class="cntr-pallet-top">
                                                <i class="icon icon-fire-2"></i>
                                            </div>
                                        </div>
                                        <div class="cntr-pallet-full">
                                            <div ng-click="toggleTopColumn(column);" class="cntr-pallet-act" >
                                                <span ng-if="column.is_active">Активная</span>
                                                <span ng-if="!column.is_active">Неактивная</span>
                                            </div>
                                            <h2 class="cntr-pallet-title" ng-bind="column.name"></h2>
                                            <ul class="cntr-pallet-menu">
                                                <li ng-click="showColumnSettings(column.id)" class="cntr-pallet-menu-icon cntr-pallet-menu-settings"></li>
                                                
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="cntr-pallet-settings ">
                                        

                                        <div  class="cntr-pallet-settings-sub typeTwo">

                                                <div class="table-settings">
                                                    <br>

                                                    <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>name</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <input type="text" placeholder="name" value="{{column.name}}" class="input input-name-column input-word" >
                                                                <button type="submit" ng-click="nameTopColumn($event, column)" class="btn btn-add-column">
                                                                CHANGE NAME
                                                                         </button>
                                                            </li>
                                                        </ul>

                                                        
                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Matching</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block matching">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO MATCH" maxlength="45" key-enter="" class="input input-word" >
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon green"><i class="icon-plus"></i></div>
                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        <div ng-repeat="word in column.st.word_filter" class="add-source-group-block-word ">
                                                                            <span>{{word}}</span> <i ng-click="settingsEditWordsWColumn($event, 'delete')" class="icon-cancel"></i>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Excluding</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block excluding">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO EXCLUDE" maxlength="45" key-enter="" class="input input-word"  >
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon"><i class="icon-plus"></i></div>

                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        <div ng-repeat="word in column.st.word_exclude" class="add-source-group-block-word ">
                                                                            <span>{{word}}</span> <i ng-click="settingsEditWordsWColumn($event, 'delete')" class="icon-cancel"></i>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>


                                                        

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Size column</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-size">
                                                                    <div class="acs-show-group-div">
                                                                        <span ng-class="{'acs-size-active': column.st.size == 300}" ng-click="settingsEditSizeColumn($event, column.id, 300)" class="acs-show-group-span acs-size "><span>SMALL</span> </span>
                                                                        <span ng-class="{'acs-size-active': column.st.size == 400}" ng-click="settingsEditSizeColumn($event, column.id, 400)" class="acs-show-group-span acs-size"><span>MEDIUM</span> </span>
                                                                        <span ng-class="{'acs-size-active': column.st.size == 500}" ng-click="settingsEditSizeColumn($event, column.id, 500)" class="acs-show-group-span acs-size"><span>LARGE</span> </span>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <!--<ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Stream in realtime</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-noti">
                                                                    <div class="ac-form-acs-public">
                                                                        <div ng-click="settingsEditRealtimeColumn($event, column.id)" ng-class="{'checked-site': !column.st.realtime, 'checked-word': column.st.realtime}" class="acs_toggle_block ">
                                                                            <div class="acs_toggle_button">
                                                                                <div class="acs_toggle_site_text">No</div>
                                                                                <div class="acs_toggle_word_text">Yes</div>
                                                                                <span class="acs_toggle_handle"><span></span></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>-->

                                                </div>

                                                <div class="cntr-pallet-settings-footer">
                                                    <a ng-click="getFavourites(column.id)"  title="Favourites" class="cntr-pallet-link-column"><i class="icon icon-star"></i></a>

                                                    <div class="cntr-pallet-nav-column">
                                                        <ul class="header-column-sort">
                                                            <li ng-click="settingsEditSortColumn($event, 'left')" class="header-column-sort-li left"></li>
                                                            <li class="header-column-sort-li dot"></li>
                                                            <li ng-click="settingsEditSortColumn($event, 'right')" class="header-column-sort-li right"></li>
                                                        </ul>
                                                    </div>
                                                    <a ng-click="settingsEditRemoveColumn($event)" title="remove column" class="cntr-pallet-delete-column">
                                                        <i class="icon icon-trash-8"></i>
                                                    </a>
                                                </div>     

                                        </div>   

                                    </div>

                                </header>
                                

                               
                                

                                <div class="column-content">
                                    <div class="column-container-scroller">
                                        <div class="column-container">

                                            <div >

                                             <!--   <div class="loader-recontent-content" ng-class="{'active' : !column.get_recontent}">
                                                    <div class="loader  loader-ellipsis-recontent" data-type="default"></div>
                                                    <p class="loader-recontent-content-text">Please wait<br>We're loading the feed<br></p>
                                                </div>

                                                <div class="none-recontent-content" ng-class="{'active' : column.get_recontent && column.recontent_items.length <= 0}">
                                                    <p class="none-recontent-content-text">Nothing yet</p>
                                                </div>  
                                            -->


                                                <div ng-repeat="item in column.items" ng-include src="'/views/feed/link-top.html?4dsfred5vfb'"></div>

                                            </div>
                                            
                                            

                                        </div>
                                    </div>
                                </div>

                            </div>
</section>
<!-- end column -->

