<article class="column-item" style="{{item.json_img|imagesizeitem:400}}">

    
    <div class="item-content" >
        <div ng-if="userType == 'Current' && (column.types == 1 || column.types == 2) && column.launch == 'recontent' " class="post__badge_recontent">
        
        </div>   

        <div class="item-image-container">
            <img  class="item-img image-blur" data-large="http://contter.dev/media/img/{{item.medium_img}}" src="http://contter.dev/media/img/{{item.thumbnail}}" image-blur-load>
        </div>

        <div class="item-link-content">
            <h2 class="item-link-title">{{item.title}}</h2>
            <p class="item-link-desc">{{item.description}}</p>
        </div>    

        <div class="item-extra">
            <a class="i-shr l-share">
                <i class="icon-share"></i>
            </a>
            <a ng-if="userType == 'Current' && (column.types == 1 || column.types == 2) && column.launch == 'standart' " ng-click="ReContent($event, {{item.id}})" class="i-re l-recontent" title="ReContent">
                <div ng-class="{'active' : item.if_recontent}" class="i-re-div"></div>
            </a>
        </div>

        <div ng-if="userType == 'Current' && (column.types == 1 || column.types == 2) && column.launch == 'standart' " ng-click="Related($event, {{item.id}})" class="post__to__relevat l-relevat">
            <i></i>
        </div>

        <div ng-if="userType == 'Current' && (column.types == 1 || column.types == 2) && (column.launch == 'standart' || column.launch == 'favourite')  " ng-class="{'active' : item.if_favourite}" class="post__to__favourite" ng-click="ToFavoutite($event, {{item.id}})">
            <i class="icon-star-filled"></i>
        </div>  

    </div>

</article>