<div class="item-content" >{{item}}
    <a target="_blank" href="{{item.url}}" class="item-link">
<!--lazy-img="-->

        <img class="item-img" src="http://contter.dev/media/img/_{{item.medium_img}}">
    </a>
    <div class="item-extra">
        <a href="#" class="i-fav l-favorite">
            <i class="icon-star-filled"></i>
        </a>
        <a href="#" class="i-in l-instagram">
            <i class="icon-instagram"></i>
        </a>
        <a href="#" class="i-fb l-facebook">
            <i class="icon-facebook-squared"></i>
        </a>
        <a href="#" class="i-tw l-twitter">
            <i class="icon-twitter"></i>
        </a>
        <a href="#" class="i-re l-recontent" title="ReContent">
            <div class="i-re-div"></div>
        </a>
    </div>

    <div ng-if="userType == 'Current'" class="post__to__relevat l-relevat">
        <i></i>
        <!--<div class="i-rel no-active">
            <i></i>
        </div>-->
    </div>   

</div>


