@font-face{
    font-family:cont;
    src:url(../font/contt.eot?7949684);
    src:url(../font/contt.eot?7949684#iefix) format('embedded-opentype'),
    url(../font/contt.woff?7949684) format('woff'),
    url(../font/contt.ttf?7949684) format('truetype'),
    url(../font/contt.svg?7949684#fontello) format('svg');}


html, body{
	background-color: #ebf3fe;
	font-family: Calibri;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
  margin:0;
  padding: 0;
}

[class*=" icon-"]:before, [class^=icon-]:before {
  font-family: insta;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.hidden {
    display: none!important;
    visibility: hidden;
}

.usersgrid {
   
}

.content-container{
  padding: 20px;
}

.admin-menu-block {
  margin: 0 auto;
  width: 600px;
}

.admin-menu-item{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background: white;
  padding: 10px;
}

.admin-menu-item.active{
  border-bottom: 1px solid blue;
}

.admin-menu-item p {
  padding: 0;
  margin: 0;
  

}

.cntr-pallet-act{
    position: absolute;
    right: 38px;
    margin-top: 3px;
    background: #F2F2F2;
    padding: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.nav-menu-item-top-toggle{
    position: absolute;
    right: 0;
    top: 4px;
    width: 15px;
    height: 14px;
    background: red;
    color: white;
    border-radius: 500px;
    text-align: center;
    font-size: 10px;
    padding-top: 1px;
}

.nav-menu-item-top-toggle.active{
  background: green
}

.nav-menu-list-top .nav-menu-item-top {
    padding-right: 20px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.nav-menu-list-top .nav-menu-item-top p {
  padding: 0;
  margin: 0;
}

.block-menu-list-header .menu-item-adm-header{
  height: 60px!important;
}

.nav-block-rec-walls .nav-menu-item-rec-walls{
  position: relative;
  margin-right: 30px;
}

.nav-block-rec-walls .nav-menu-item-rec-walls:first-child{
  position: relative;
  margin-right: 15px;
}

.nav-block-rec-walls .nav-menu-item-rec-walls p {
  padding: 0;
  margin: 0;
}

.nav-block-rec-walls .nav-menu-item-rec-walls .nav-menu-item-top-toggle {
    position: absolute;
    right: -19px;
    top: -1px;
}

.container-collections .sw-list .sw-wall {
  margin: 0!important
}

.admin-sw-wall-table-header {
  position: absolute;
  top: 5px;
  width: 24%;
  right: -61px;
  z-index: 5;
}

.admin-sw-extra-item{
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 500px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.admin-sw-extra-item:hover{
  opacity: .7
}

.container-collections .sw-wall:hover {
    opacity: 1!important;
}

.container-collections input {
  width: 75%;
  height: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.colorpicker-alpha , .colorpicker-color{
  display: none!important;
}

.colorpicker.colorpicker-with-alpha {
    min-width: 115px!important;
}

.colorpicker-saturation {
  cursor: default!important;
}

#wallimage{
    position: absolute;
    left: 0;
    opacity: 0;
}

.add-walls-column .addcolumn-add {
  display: none;
}

.lrw-wall-column-edit{
  cursor: pointer;
}